@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  
  body {
    background-color: $body-bg-color;
    color: $body-text-color;
    transition-property: background, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
}


.btn { 
  appearance: none;
  border: 1px solid $border-color;
  background-color: $body-bg-color;
  padding: 14px 24px;
  color: $btn-text-color;
  font-family: inherit;
  @include button;
  border-radius: 24px;
  cursor: pointer;
  transition: $transition;
  -webkit-tap-highlight-color: transparent;

  &:disabled {
    opacity: 0.25;
  }
  &:hover {
    background-color: $grey;
  }

  &.primary {
    background-color: $purple;
    color: $white;
    &:hover {
      background-color: $purple-light;
    }
  }

  &.danger {
    background-color: $red;
    color: $white;

    &:hover {
      background-color: $red-light;
    }
  }

  &.btn-block {
    display: block;
    width: 100%;
  }
}

label {
  color: $btn-text-color;
  @include body;
}

input[type="text"]{
  padding: 14px 20px;
  border:1px solid $border-color;
  border-radius: 4px;
  @include button;
  color: $body-text-color;
  background-color: $white;
  display: block;
  width: 100%;
  box-sizing: border-box;
  &:focus {
    border: 1px solid $purple;
    outline: none;
  }
}