@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

// *::-webkit-scrollbar {
//   display: none;
// }

::-webkit-scrollbar {
  width: 5px;
  border-radius: 50%;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($purple, .5); 
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background-color: rgba($purple, .05);
  border-radius: 50px;
  /* Set the border radius of the track */
}

html {
  font-family: 'League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  
  body {
    background-color: $body-bg-color;
    color: $body-text-color;
    transition-property: background, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
}

#app {
  position: relative;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  width: calc(100% - 100px);
  max-width: 1080px;
  margin: 30px 0 30px 80px;
}

h2 {
  @include heading-l;
}

h4 {
  @include heading-m;
}

h6 {
  @include heading-s;
}

p {
  @include body;
}

.status {
  --_variant: var(--variant, $purple);
  --_bg-variant: #{rgba(var(--bg-variant, $purple), 0.05)};

  position: relative;
  text-transform: capitalize;
  text-align: center;
  max-width: 100px;
  padding: 14px 0;
  border-radius: 8px;
  font-weight: 600;
  color: $purple;
  background-color: rgba($purple, 0.08);

  i {
    font-size: 10px;
    margin-right: 5px;
  }

  &.paid {
    color: $paid;
    background-color: rgba($paid, 0.08);
  }

  &.pending {
    color: $pending;
    background-color: rgba($pending, 0.08);
  }

  &.draft {
    color: $draft;
    background-color: #{rgba($draft, 0.08)};
    
  }
}


.btn {
  position: relative;
  appearance: none;
  border: 1px solid transparent;
  background-color: $body-bg-color;
  padding: 14px 24px;
  color: $btn-text-color;
  font-family: inherit;
  @include button;
  border-radius: 24px;
  cursor: pointer;
  transition: $transition;
  -webkit-tap-highlight-color: transparent;
  text-align: center;

  &.icon {
    width: 166px;
    max-height: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    i {
      position: absolute;
      font-size: 12px;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content:center;
      align-items: center;
      color: $body-text-color;
      text-align: center;
      border-radius: 50%;
      background-color: $body-bg-color;
      left: 5%;
      top: 6px;
    }
  }

  &:disabled {
    opacity: 0.25;
  }
  &:hover {
    background-color: $grey;
  }

  &.primary {
    background-color: $purple;
    color: $white;
    i {
      color: $purple;
    }
    &:hover {
      background-color: $purple-light;
      i {
        color: $purple-light;
      }
    }
    
  }

  &.danger {
    background-color: $red;
    color: $white;
    i {
      color: $red;
    }
    &:hover {
      background-color: $red-light;
      i {
        color: $red-light;
      }
    }
  }

  &.btn-block {
    display: block;
    width: 100%;
  }
}

label {
  color: $btn-text-color;
  @include body;
}

input[type="text"]{
  padding: 14px 20px;
  border:1px solid $border-color;
  border-radius: 4px;
  @include button;
  color: $body-text-color;
  background-color: $white;
  display: block;
  width: 100%;
  box-sizing: border-box;
  &:focus {
    border: 1px solid $purple;
    outline: none;
  }
}