  
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Slab&display=swap");

#app {
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

/* home page start*/
  .imgslide .mockup{
    width: 80%;
    margin-bottom: 5%;
  }


/* home page end*/

.card-header {
  background-color: #42b983 ;
  color: #fff;
}

.vuebtn {
  color: #fff;
  background-color: #42b983;
  border-color: #42b983 ;
}

.vuebtn:hover{
  color: #fff;
  background-color: #168854;
  border-color: #168854;
}

.invoice{
  margin-bottom: 5%;
}

.fade-enter-active,
  .fade-leave-active {
    transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: ease;
  }
  .fade-enter,
  .fade-leave-active {
    opacity: 0;
}

.seller.card{
  width: 100%;
  margin: 0 auto;
}

.seller .card-body{
  margin: 5% 0%;
  width: 100%;
  margin: 0 auto;
}

.title{
  position: relative;
}

.removeBtn {
  position: absolute;
  top: -15px;
  left: 75%;
  border-radius: 50%;
}

.removeBtn:hover {
  transform: scale(1.3);
  transition: .5s;
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .seller.card{
      width: 70%;
      margin: 0 auto;
    }

    .seller .card-body{
      margin: 5% 0%;
      width: 90%;
      margin: 0 auto;
    }
}
 
/* Large devices (desktops, 1000px and up) */
@media (min-width: 1000px) { 
    .seller.card{
      width: 40%;
      margin: 0 auto;
    }

    .seller .card-body{
      margin: 5% 0%;
      width: 90%;
      margin: 0 auto;
    }
}